@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #0a0c1a;
}

.stats-card {
  max-width: 1110px;
  max-height: 446px;
  width: 77vw;
  height: 31vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.stats-card__info {
  padding: 6.5% 6% 6% 6.5%;
  background-color: #1b1938;
}

.stats-card__title {
  font-size: 2.5vw;
  font-family: "Inter", sans-serif;
  color: white;
}

.stats-card__accent {
  color: #ab5add;
}

.stats-card__text {
  margin: 1.6vw 0 5vw 0;
  font-size: 1.04vw;
  color: #b5b3cc;
  font-weight: 400;
  line-height: 1.75vw;
  width: 90%;
}

.stats-card__stats-list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.stats-card__stat-value {
  color: white;
  font-size: 1.6vw;
  margin-bottom: 0.6vw;
}

.stats-card__stat-name {
  font-size: 0.92vw;
  color: #b5b3cc;
  text-transform: uppercase;
  font-weight: 400;
}
