@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

$main-text-font-family: "Inter", sans-serif;
$title-text-font-family: 'Lexend Deca', sans-serif;
$font-size: 15px;
$font-weight-regular: 400;
$font-weight-bold: 700;
$title-text-color: white;
$body-bg-color: hsl(233, 46%, 7%);
$main-text-color: hsl(245, 20%, 75%);
$accent-text-color: hsl(277, 66%, 61%);


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $body-bg-color;
}

.stats-card {
  // width: 1110px;
  // height: 446px;

  max-width: 1110px;
  max-height: 446px;
  width: 77vw;
  height: 31vw;
  display: flex;
  // flex: 0 0 100%;
  justify-content: flex-end;
  // margin: 3%;
  overflow: hidden;
  border-radius: 10px;
  font-family: $main-text-font-family;
  font-size: $font-size;
  font-weight: $font-weight-regular;

  &__info {
    padding: 6.5% 6% 6% 6.5%;
    background-color: hsl(244, 38%, 16%);
  }

  // &__img {
  //   // width: 100%;
  //   // height: 100%;
  // }

  &__title {
    // font-size: 240%;
    font-size: 2.5vw;
    font-family: $main-text-font-family;
    color: $title-text-color;
  }

  &__accent {
    color: $accent-text-color;
  }

  &__text {
    // margin: 1.6em 0 5em 0;
    margin: 1.6vw 0 5vw 0;
    font-size: 1.04vw;
    color: $main-text-color;
    font-weight: $font-weight-regular;
    // line-height: 1.65em;
    line-height: 1.75vw;
    width: 90%;
  }

  &__stats-list {
    list-style-type: none;
    // display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__stat {

    &-value {
      color: $title-text-color;
      // margin-bottom: 0.2em;
      font-size: 1.6vw;
      margin-bottom: 0.6vw;
    }

    &-name {
      // font-size: 0.92em;
      font-size: 0.92vw;
      color: $main-text-color;
      text-transform:uppercase;
      font-weight: $font-weight-regular;
    }
  }
}
